target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

gitgtypings
**/app/**/*.js
**/app/**/*.map
node_modules
jspm_packages
bower_components

**/*.log/*.*
**/*.log

.vs
**/*.sou
**/*.user
bin
obj
packages
