<div class="panel panel-primary" *ngIf="resume">
    <div class="panel-heading">
        {{pageTitle + ': ' + resume.author}}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">{{resume.author}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Code:</div>
                    <div class="col-md-6">{{resume.email | convertToSpaces:'-'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Description:</div>
                    <div class="col-md-6">{{resume.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Availability:</div>
                    <div class="col-md-6">{{resume.dateAdded}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Price:</div>
                    <div class="col-md-6">{{resume.price | currency:'USD':true}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">5 Star Rating:</div>
                    <div class="col-md-6">
                        <app-star [rating]="resume.starRating"
                        (ratingClicked)="onRatingClicked($event)"></app-star>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Tags:</div>
                    <div class="col-md-6">{{resume.tags}}</div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="resume.pdfUrl">
                <img class="center-block img-responsive"
                     [style.width.px]="150"
                     [style.margin.px]="2"
                     [src]="resume.pdfUrl"
                     [title]="resume.author">
            </div>
        </div>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px"
           [routerLink]="['/resumeEdit', resume.id]">
            Edit
        </a>
    </div>
</div>