<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">Filter by:
                <input type="text" [(ngModel)]="listFilter"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filter by: {{listFilter}}</h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class="table-responsive">
            <table class="table" *ngIf="resumes && resumes.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                    (click)="toggleImage()">
                                    {{showImage ? 'Hide' : 'Show'}} Preview
                            </button>
                        </th>
                        <th>Author</th>
                        <th>Email</th>
                        <th>Date Added</th>
                        <th>Tags</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resume of resumes | resumeFilter:listFilter">
                        <td>
                            <img *ngIf="showImage"
                                 [src]="resume.pdfUrl"
                                [title]="resume.author | uppercase "
                                [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin">
                        </td>
                        <td><a [routerLink]="['/resumes', resume.id]">
                            {{resume.author}}</a>
                        </td>
                        <td>{{resume.email | convertToSpaces:'-' | lowercase }}</td>
                        <td>{{resume.createdAt | date }}</td>
                        <td>
                            <span class="label label-primary" style="margin: 5px" *ngFor="let tag of resume.tags">{{tag}}</span>
                        </td>
                        <td>
                            <app-star [rating]="resume.starRating"
                            (ratingClicked)="onRatingClicked($event)">
                            </app-star>
                        </td>
                        <td>
                            <a class="btn btn-primary"
                            [routerLink]="['/resumeEdit', resume.id]">
                                Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>