<div class="shift-right">
    <span class="glyphicon glyphicon-triangle-top"
          style="display: block;"
          (click)="onUpvote()"></span>
    <span class="glyphicon glyphicon-triangle-bottom"
          (click)="onDownvote()"></span>
</div>
<div class="crop shift-left"
     [style.width.px]="starWidth"
    [title]="rating">
    <div style="width: 86px">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>
