<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}</a>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/welcome']">Home</a></li>
                <li><a [routerLink]="['/resumes']">Resume Library</a></li>
                <li><a [routerLink]="['/resumeEdit/0']">New Resume</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>